services:
  postgres:
    image: pgvector/pgvector:pg17
    environment:
      - POSTGRES_USER=enthusiast
      - POSTGRES_PASSWORD=enthusiast
      - POSTGRES_DB=enthusiast
  redis:
    image: redis:latest
  frontend:
    build:
      context: frontend/
      dockerfile: Dockerfile
      args:
        - PORT=10001
        - VITE_API_BASE=http://localhost:10000
        - VITE_WS_BASE=ws://localhost:10000
        - VITE_OTP_ENABLED=false
    ports:
      - "10001:10001"
  api:
    build:
      context: server/
      dockerfile: Dockerfile
    ports:
      - "10000:10000"
    env_file:
      - ./server/.env
    environment:
      - PORT=10000
      - RUN_MIGRATIONS=True
      - RUN_WORKER=False
      - RUN_BEAT=False
  worker:
    build:
      context: server/
      dockerfile: Dockerfile
    env_file:
      - ./server/.env
    environment:
      - RUN_MIGRATIONS=False
      - RUN_WORKER=True
      - RUN_BEAT=False

  beat:
    build:
      context: server/
      dockerfile: Dockerfile
    environment:
      - RUN_MIGRATIONS=False
      - RUN_WORKER=False
      - RUN_BEAT=True
    depends_on:
      - redis
      - postgres