/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #654e01;
  --ifm-color-primary-dark: #5b4601;
  --ifm-color-primary-darker: #564201;
  --ifm-color-primary-darkest: #473701;
  --ifm-color-primary-light: #6f5601;
  --ifm-color-primary-lighter: #745a01;
  --ifm-color-primary-lightest: #836501;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.footer--dark {
  --ifm-footer-background-color: #000;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffc300;
  --ifm-color-primary-dark: #e6b000;
  --ifm-color-primary-darker: #d9a600;
  --ifm-color-primary-darkest: #b38800;
  --ifm-color-primary-light: #ffc91a;
  --ifm-color-primary-lighter: #ffcc26;
  --ifm-color-primary-lightest: #ffd54d;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Global Markdown Styles */
.markdown h2 {
  margin-top: 2.5rem;
}

.markdown h3 {
  margin-top: 2rem;
}

.markdown ul {
  margin-bottom: 1.5rem;
}

.markdown li {
  margin: 0.5rem 0;
}

.markdown strong:first-child {
  margin-right: 0.5rem;
}
